<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368603557570-p1r8lep28apvgmhqtl369oreb7206cdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368603557570-p1r8lep28apvgmhqtl369oreb7206cdl</string>
	<key>API_KEY</key>
	<string>AIzaSyBt-uR1D3CmsWVzbbUOk8nCcc2rvJ5nk4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>368603557570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EvilEye.EvilEye</string>
	<key>PROJECT_ID</key>
	<string>evileye-539c7</string>
	<key>STORAGE_BUCKET</key>
	<string>evileye-539c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368603557570:ios:c84ca8090f3ad2982e155b</string>
</dict>
</plist>